@import "./reset.css";

:root {
  --bg-color: #fff;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(0.98 0 0);
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100dvh;
  width: 360px;
  background-color: oklch(0.98 0 0);
}

h1 {
  margin-top: 1rem;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: oklch(0.9 0 0);
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

input {
  width: 12rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border-style: none;
}

button {
  margin-top: 1rem;
  padding: 0.2rem;
  width: 10rem;
  border-radius: 0.2rem;
  border: none;
  background-color: oklch(0.6 0.1 250);
  cursor: pointer;
}

button:hover {
  background-color: oklch(0.55 0.12 250);
}

.booking-list {
  text-align: center;
}

.booking-list {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: oklch(0.9 0 0);
}

.booking-list li {
  display: flex;
  justify-content: space-between;
}
