@import "./reset.css";

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 360px;
  background-color: aliceblue;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: blue;
}

header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

header a {
  text-decoration: none;
  cursor: pointer;
}

header a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

h1 {
  color: blue;
}

p {
  color: darkblue;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: blueviolet;
}
