@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600&display=swap");

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 10%);
  color: oklch(15% 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 360px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #032541;
  background: oklch(25.79% 0.065 248.04deg);
  width: 100%;
  height: 5rem;
  margin: 0.5rem 0 1rem;
  border-radius: 1rem;
  color: #fcfcfc;
  color: oklch(99% 0 0);
}

h1 {
  text-transform: uppercase;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.main {
  width: 100%;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  background: oklch(40% 0.055 248.04deg);
}

.movie__poster {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

p {
  color: #fcfcfc;
  color: oklch(99% 0 0);
}
