@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;600&display=swap");

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "Inter", sans-serif;
  color: #fcfcfc;
  color: oklch(99% 0 0);
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 360px;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: auto;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: oklch(99% 0 0);
  background: oklch(25.79% 0.065 248.04deg / 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
}

.nav-list a:hover {
  color: oklch(65% 0.12 220deg);
}

.nav-list a.active-link {
  color: oklch(65% 0.12 220deg);
  font-weight: 600;
}

.favorites-wrapper {
  position: relative;
}

.favorites-counter {
  position: absolute;
  top: -0.1rem;
  right: -1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 400;
  color: oklch(99% 0 0);
  background: oklch(65% 0.12 220deg);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  width: 100%;
}

input {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid oklch(25.79% 0.065 248.04deg / 0.9);
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  background: oklch(65% 0.12 220deg);
}

.movieCard__poster-wrapper {
  position: relative;
  width: 100%;
}

.movie__poster {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.favorite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: oklch(99% 0 0);
}

.favorite-button.active {
  color: oklch(62% 0.24 25);
}

.heart-icon {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.6));
}

p {
  color: #fcfcfc;
  color: oklch(99% 0 0);
}

p.no-favorites {
  color: oklch(0% 0 0);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 360px;
  height: 80px;
  margin-top: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: oklch(25.79% 0.065 248.04deg / 0.9);
  backdrop-filter: blur(10px);
}

@media (min-width: 752px) {
  .inner-container,
  header,
  footer {
    width: 752px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
  }

  .movieCard {
    display: flex;
    justify-content: flex-start;
    width: 360px;
  }
}

@media (min-width: 1144px) {
  .inner-container,
  header,
  footer {
    width: 1144px;
  }
}
