@import "./reset.css";

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  width: 360px;
  border: 1px solid black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: pink;
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: blueviolet;
  color: white;
}

.list {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
}

.read-more {
  display: block;
  text-align: center;
  background: blue;
  padding: 0.5rem;
  width: 10rem;
  color: white;
  border-radius: 10px;
}

.read-more:hover {
  background: pink;
  color: black;
}
