@import "./reset.css";

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  width: 360px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.card {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background-color: red;
}

.card__image {
}
