@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@600;700&display=swap");

html {
  font-size: 16px;
  scrollbar-gutter: stable;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: hsl(0, 0%, 20%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: hsl(0, 0%, 10%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  width: 360px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: oklch(0.6 0 0);
  width: 100%;
  height: 100px;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav a:hover {
  color: hsl(0, 0%, 90%);
}

.active-link {
  color: hsl(0, 0%, 90%);
}

.favorites-wrapper {
  position: relative;
}

.favorites-counter {
  position: absolute;
  top: -0.25rem;
  right: -1.1rem;
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  background-color: white;
  width: 0.85rem;
  height: 0.85rem;
  border-radius: 50%;
  color: hsl(0, 0%, 10%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

input {
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 0.5rem;
  border-style: none;
  border: 1px solid hsl(0, 0%, 80%);
}

.form__submit-btn {
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border-style: none;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: orangered;
  cursor: pointer;
}

.form__submit-btn:hover {
  background-color: oklch(85% 0.55 65);
}

.filters-toggle {
  border-style: none;
  font-size: 0.8rem;
  background-color: transparent;
  color: hsl(0 0% 30%);
  cursor: pointer;
}

.form__wrapper-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form__wrapper-filters select {
  padding: 5px;
  border-radius: 0.5rem;
  border-style: none;
  border: 1px solid hsl(0, 0%, 80%);
  font-size: 0.9rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 90%);
}

.card__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 1rem;
  gap: 2rem;
  width: 100%;
}

.card__grid.favorites {
  margin-top: 1rem;
}

.card {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 98%);
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.15);
}

.card:hover .card__image {
  transform: scale(1.05);
}

.card:hover .card__heading {
  text-decoration: underline;
}

.card__image-wrapper {
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.favorite-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  color: oklch(98% 0 0);
  border-style: none;
  border-radius: 5px;
  background: oklch(98% 0 0);
  cursor: pointer;
}

.favorite-button.active {
  color: oklch(0.627 0.209 29.2);
}

.heart-icon {
  width: 24px;
  height: 24px;
}

.card__content {
  padding: 0.5rem 1rem;
}

.card__meta-data {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.card__rating {
  margin-left: auto;
}

.diet-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.vegetarian-icon,
.vegan-icon,
.glutenfree-icon,
.dairyfree-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
  background-color: hsl(120, 73%, 75%);
}

.vegan-icon {
  background-color: hsl(145, 62%, 50%);
}

.glutenfree-icon {
  background-color: hsl(48, 90%, 50%);
}

.dairyfree-icon {
  background-color: hsl(204, 100%, 60%);
}

.card__heading {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0;
  line-height: 1.2rem;
}

.card__description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: oklch(0.6 0 0);
  width: 100%;
  height: auto;
}

.no-favorites {
  margin: 1rem 0;
}
