@import "./reset.css";

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  width: 360px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 90%);
}

.card__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  width: 100%;
}

.card {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 98%);
}

.card__image-wrapper {
  position: relative;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  width: 100%;
}

.card__content {
  padding: 0.5rem 1rem;
}

.card__heading {
  font-size: 1rem;
  text-align: center;
}
