@import "./reset.css/";

html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: 2px solid black;
  border-radius: 10px;
  background: linear-gradient(to right, lightblue, blue);
  padding: 8px 20px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(to left, lightblue, blue);
}
