.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button {
  width: 5rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: lightgreen;
}

button:nth-of-type(2) {
  background-color: red;
}
